server:
  port: 8080
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ecommercedb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /api-docs-ui
JWT_SECRET: minhvu
JWT_EXPIRATION_TIME: 86400000
JWT_REFRESH_EXPIRATION_TIME: 604800000